
{% extends 'base.html' %}

{% block body %}
    {% block navbar %}
            {% include 'navbar.html' %}
    {% endblock %}

    {% include 'buscador.html' %}
<div class="container mt-2" id="lista" >
    <h1><i class="fa-solid fa-gears me-1"></i>Test's</h1>
    <ul class="list-group" >
        {% for test in tests %}
        <li class="list-group-item list-group-item-action" > 
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{loop.index}}"  aria-expanded="false" aria-controls="collapseExample{{loop.index}}">
                {{test}}
              </button>
            <div class="collapse" id="collapseExample{{loop.index}}">
              <div class="card card-body mt-1">
                {{descripcion[loop.index0]}}
              </div>
              <a class="btn btn-success mt-1" onclick="desactivar();" href="http://127.0.0.1:5000/test_sgc/{{test}}"><i class="fa-solid fa-gears me-1"></i>Correr test</a>
            </div></li>
        {% endfor %}
    </ul>
</div>
<div class="mt-5">
  {% include 'footer.html' %}
</div>
{% endblock %}