{% extends 'base.html' %}

{% block body %}
    {% block navbar %}
            {% include 'navbar.html' %}
    {% endblock %}

    {% include 'buscador.html' %}
<div class="container mt-2" id="lista" >
    <h1><i class="fa-solid fa-gears me-1"></i>Test's</h1>
    <ul class="list-group" >
        {% for test in tests %}
        <li class="list-group-item list-group-item-action" > 
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{loop.index}}"  aria-expanded="false" aria-controls="collapseExample{{loop.index}}">
                {{test}}
              </button>
            <div class="collapse" id="collapseExample{{loop.index}}">
              <div class="card card-body mt-1">
                {% for key, value in descripcion.items() %}
                  {% if key == test %}
                  <p>{{ value }}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <a class="btn btn-success mt-1" id="boton" onclick="desactivar();" href="http://127.0.0.1:5000/test_sgc/{{test}}">
                <i class="fa-solid fa-gears me-1"></i>
                
                Correr test</a>
                <a class="btn btn-success mt-1 disabled" id="spinner" style="display: none;">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Test en proceso</a>
            </div></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
